//Variables
//$fontPrimary: ;
//$fontSecondary

@import 'default';
@import url('https://fonts.googleapis.com/css?family=Cardo:400,400i,700|Pathway+Gothic+One');

$colorBackground: #3A3C40;
$colorForeground: #25272A;
$colorTextPrimary: #FFFFFF;
$colorTextSecondary: #DFDFDF;
$colorTextTertiary: #9F9DA7;
$colorDecoration: #60B8B9;

$colorBackgroundLight: #EEEEEE;
$colorForegroundLight: #FFFFFF;

$mainFont: 'Pathway Gothic One', sans-serif;
$secondaryFont: 'Cardo', serif;

$boxShadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

@mixin borderRadius($radius) {
    -webkit-border-radius: $radius;
       -moz-border-radius: $radius;
        -ms-border-radius: $radius;
            border-radius: $radius;
}

@mixin boxShadow($shadow) {
    -webkit-box-shadow: $shadow;
       -moz-box-shadow: $shadow;
	        box-shadow: $shadow;
}

@mixin defaultTransition($time) {
    -webkit-transition-timing-function: ease-out;
           -webkit-transition-property: all;
	       -webkit-transition-duration: $time;
       -moz-transition-timing-function: ease-out;
	          -moz-transition-property: all;
	          -moz-transition-duration: $time;
         -o-transition-timing-function: ease-out;
	            -o-transition-property: all;
	            -o-transition-duration: $time;
	        transition-timing-function: ease-out;
	               transition-property: all;
	               transition-duration: $time;
}

body {
    background-color: $colorBackground;
}

#overlay {
    @include boxShadow($boxShadow);
    
    display: inline-block;
    width: 100%;
    height: 100%;
    background: url(../images/wjkc3xzjsxw-geran-de-klerk.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    
    h1 {
        font-size: 5em;
        margin: 0px;
    }
    
    p {
        font-size: 1.5em;
    }
    
    .mission {
        text-align: left;
        padding: 1.5%;
        
        @include boxShadow($boxShadow);
        background-color: rgba(0, 0, 0, 0.5);
    }
    
    iframe {
        display: block;
    }
    
    #countdown {
    
        margin-bottom: 10px;
        margin-top: 10px;
        text-align: right;
        
        .time-wrapper {
            width: 19%;
            padding: 5px;
            text-align: center;
            background-color: $colorBackground;
            font-family: $mainFont;
            color: $colorTextPrimary;
            float: left;
            margin-right: 1.25%;
            
            .time {
                text-align: center;
                padding: 15px;
                background-color: $colorForeground;
                font-size: 2em;
                position: relative;
                margin-bottom: 3px;
            } 
        }
        
        //LAST CHILD SELECTOR NOT FUCKING WORKING
        .time-wrapper:nth-child(5) {
                margin-right: 0;
            }
        
        h2 {
            margin: 0;
            padding: 0;
            padding-top: 5px;
        }
    }

}

#content-wrapper {
    padding: 15px;
    width: 100%;
    
    position: relative;
    
    main {
        display: inline-block;
        width: 100%;
        
        .row {
            display: inline-block;
            width: 100%;
            background-color: $colorForeground;
            margin-bottom: 15px;
        }
        
        .row:last-child {
            margin-bottom: 0;
        }
    }
}

body::-webkit-scrollbar-track {
	background-color: transparent;
}

body::-webkit-scrollbar {
	width: 10px;
	background-color: transparent;
}

body::-webkit-scrollbar-thumb {
	@include boxShadow($boxShadow);
    @include borderRadius(10px);
    
	background-color: $colorBackgroundLight;
}

h1#site-title {
    height: 75px;
    
    a {
        height: 100%;
        
        img {
            height: 100%; 
            opacity: 0;
        }
    }
}

#nav-wrapper {
    display: table;
    table-layout: fixed;
    width: 100%;
    position: fixed;
    padding: 5%;
    top: 0;
    z-index: 10;
    
    #logo-main {
        display: table-cell;
        vertical-align: middle;
        height: 75px;
        opacity: 0;
    }
    
    nav {
        display: table-cell;
        vertical-align: middle;
        text-align: right;
        //border-bottom: 1px solid $colorBackgroundLight;

        ul {
            padding: 10px 10px 10px 10px;
            margin: 0;
            display: inline;
            border-bottom: 1px solid #b00424;

            li:first-child {
                margin-left: 0;
            }
            
            li {
                display: inline;
                margin-left: 3%;
                position: relative;
                
                a {
                    @include defaultTransition(0.25s);
                    
                    font-family: 'Pathway Gothic One', sans-serif;
                    font-size: 1.5em;
                    text-decoration: none;
                    position: relative;
                    color: $colorTextSecondary;
                }
                
                a:link,
                a:visited {
                    color: $colorTextSecondary;
                }
                
                .light-theme a:link,
                .light-theme a:visited {
                    color: $colorBackground;
                }
            }
            
            li:before {
                content: "";
                position: absolute;
                width: 0%;
                height: 1px;
                background-color: $colorDecoration;
                z-index: 1;
                bottom: -11px;
                @include defaultTransition(0.25s);
            }
            
            li:hover a {
                color: $colorTextTertiary;
            }
            
            li:hover:before {
                width: 100%;
            }
        } 
    }
}

h1,
h2,
h3,
h5 {
    font-family: $mainFont;
}

h1, 
h2 {
    color: $colorTextPrimary;
}

h3, 
h4,
h5 {
    color: $colorTextTertiary;
}

p {
    font-family: $secondaryFont;
    color: $colorTextSecondary;
}

main {
    
}

#switch-theme {
    position: fixed;
    bottom: 10px;
    left: 10px;
}

.light-theme body {
    background-color: $colorBackgroundLight;
}

.light-theme #wrapper {
    background-color: $colorForegroundLight;
}

.button-wrapper {
    @include defaultTransition(0.25s);
    
    //background: $colorForeground;
    display: inline-block;
    position: relative;
    cursor: pointer;
    border: 2px solid $colorTextPrimary;
    
    input[type="button"],
    input[type="submit"],
    button {
        padding: 15px;
        background: none;
        border: 0;
        text-transform: uppercase;
        font-family: $mainFont;
        font-size: 1.25em;
        color: $colorTextSecondary;
    }
    
    input[type="button"]:hover,
    input[type="submit"]:hover,
    button:hover {
        color: $colorTextTertiary;
    }
}

.button-wrapper {
    overflow: hidden;
    text-align: center;
	-webkit-transition: border-color 0.3s, color 0.3s;
	transition: border-color 0.3s, color 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.button-wrapper::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 150%;
	height: 100%;
	z-index: 0;
	-webkit-transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
	transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
	-webkit-transform-origin: 0% 100%;
	transform-origin: 0% 100%;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s, background-color 0.3s;
	transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
}

.button-wrapper:hover::before {
	opacity: 1;
    
	-webkit-transform: rotate3d(0, 0, 1, 0deg);
	transform: rotate3d(0, 0, 1, 0deg);
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.button-wrapper:hover::before {
	background-color: $colorTextPrimary;
}

input[type="text"] {
    @include defaultTransition(0.25s);
    
    background: none;
    padding: 10px;
    font-family: $mainFont;
    font-size: 1.25em;
    color: $colorTextSecondary;
    border: 2px solid $colorTextPrimary;
}

input[type="text"]:hover {
    border-left: 7px solid $colorTextPrimary;
}

input[type="text"]:focus {
    border-left: 12px solid $colorTextPrimary;
}

//---------------------------------------------------------------

#mc-indicates-required{
    display: none;
}

.mc_var_label {
    font-family: $mainFont;
    color: $colorTextSecondary;
}

.mc_signup_submit {
    .button-wrapper {
        width: 100%;
    }
}

.mc_merge_var {
    width: 50%;
    float: left;
    margin-top: 15px;
    margin-bottom: 15px;
    
    .mc_input {
        width: 100%;
    }
}

.mc_merge_var:nth-child(2) {
    padding-right: 7.5px;
}

.mc_merge_var:nth-child(3) {
    padding-left: 7.5px;
}

#content,
#main-content,
footer {
    display: none;
}

@media screen and (max-width: 600px), (max-device-width: 1024px) {
    #overlay {
        
        .mission {
            width: 100% !important;
        }
        
        .valigner {
            display: none !important;
        }
        
        iframe {
            width: 100%;
        }
    }
    
    .mc_merge_var {
        width: 100%;
        float: left;
        padding: 0 !important;
    
        .mc_input {
            width: 100%;
        }
    }
    
    .mc_merge_var:nth-child(3) {
        margin-top: 0;
    }

}
